<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Lista de Tareas</title>
    <link href="app.component.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <header>
        <h2>LISTA DE TAREAS DE JUANI</h2>
      </header>
      <div class="input">
        <input type="text" class="text"/>
        <input type="button" class="addBtn" value="ADD"/> 
      </div>
      
      <ol class="list">
        <li>
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Task N
            <input type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Task N-1
            <input type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Completed Task N-2
            <input type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Task K
            <input type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Task 2
            <input type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="/assets/images/trash-can-regular.svg"/>
          <label class="container">Completed Task 1
            <input type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
      </ol>
  </body>
</html>