<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Lista de Tareas</title>
    <link href="app.component.scss" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <header>
        <h2>LISTA DE TAREAS DE JUANI</h2>
      </header>
      <div class="input">
        <input type="text" id="text"/>
        <button onclick="createTask()" class="addBtn"> ADD</button>
      </div>
      
      <ol id="list">
        <li>
          <input type="image"  class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Task N
            <input onclick="completeTask(event)" type="checkbox"/>
            <span class="checkmark""></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Task N-1
            <input onclick="completeTask(event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Completed Task N-2
            <input onclick="completeTask(event)" type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Task K
            <input onclick="completeTask(event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Task 2
            <input onclick="completeTask(event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="https://freesvg.org/img/trash.png" onclick="deleteTask(event)"/>
          <label class="container">Completed Task 1
            <input onclick="completeTask(event)" type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
      </ol>
      <script src="app.component.ts"></script>
  </body>
</html>
