
      <header>
        <h2>LISTA DE TAREAS DE {{nombre}}</h2>
      </header>
      <div class="input">
        <input #text type="text" id="text" (keydown.enter)="createTask(text.value); text.value=''" />
        <button (click)="createTask(text.value); text.value=''" class="addBtn"> ADD</button>
      </div>
      
      <ol id="list">
        <li *ngFor="let task of tasks.reverse()">
          <input type="image"  class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">{{task}}
            <input (click)="completeTask($event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>

        <li>
          <input type="image"  class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Task N
            <input (click)="completeTask($event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Task N-1
            <input (click)="completeTask($event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Completed Task N-2
            <input (click)="completeTask($event)" type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Task K
            <input (click)="completeTask($event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li>
          <input type="image" class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Task 2
            <input (click)="completeTask($event)" type="checkbox"/>
            <span class="checkmark"></span>
          </label>
        </li>
        <li class="completed">
          <input type="image" class="deleteIcon" src="{{urltrash}}" (click)="deleteTask($event)"/>
          <label class="container">Completed Task 1
            <input (click)="completeTask($event)" type="checkbox" checked="checked"/>
            <span class="checkmark"></span>
          </label>
        </li>
      </ol>
      <script src="app.component.ts"></script>
